* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: rgb(153, 201, 183);
	font-size: 10px;
}

nav {
	background-color: black;
	height: 60px;
	margin-top: 0px;
}

button {
	padding: 10px;
	font-size: 15px;
	margin: 10px;
}

.pop-x-btn {
	display: inline-block;
	float: right;
}

.pop-up {
	height: 180px;
	width: 400px;
	background-color: coral;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 10;
}

.pop-header {
	display: inline-block;
	/* float: left; */
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.pop-msg-container {
	display: block;
}

.hidden {
	display: none;
}

.overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}
